<div id="dps" class="main-grouping-left">
  <h4>DPS</h4>
  <ul>
    <li class="float-left"><img [src]="genjiPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="doomfistPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="mccreePortrait" class="portrait"></li>
    <li class="float-left"><img [src]="reaperPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="soldier76Portrait" class="portrait"></li>
    <li class="float-left"><img [src]="pharahPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="hanzoPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="bastionPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="torbjornPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="symmetraPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="junkratPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="widowmakerPortrait" class="portrait"></li>
  </ul>
</div>
