<div id="tanks" class="main-grouping-left">
  <h4>Durable (Tanks)</h4>
  <ul>
    <li class="float-left"><img [src]="dvaPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="roadhogPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="reinhardtPortrait" class="portrait"></li>
    <li id="winston" class="role-initiator float-left"><img [src]="winstonPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="orisaPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="zaryaPortrait" class="portrait"></li>
    <li class="float-left"><img [src]="meiPortrait" class="portrait"></li>
  </ul>
</div>
