<h3>Home Component</h3>
<p>Welcome to the Overwatch hero role site</p>


Traditional 2-2-2 perceived meta:
<div class="main-container">
  <div id="healers" class="main-grouping-top">
    <h4>Healers</h4>
    <ul>
      <li class="float-left"><img [src]="mercyPortrait" class="portrait"></li>
      <li class="float-left"><img [src]="zenyattaPortrait" class="portrait"></li>
      <li class="float-left"><img [src]="lucioPortrait" class="portrait"></li>
      <li class="float-left"><img [src]="anaPortrait" class="portrait"></li>
      <li class="float-left"><img [src]="sombraPortrait" class="portrait"></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="main-grouping-bottom">
    <div id="dps" class="main-grouping-left">
      <h4>DPS</h4>
      <ul>
        <li class="float-left"><img [src]="genjiPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="mccreePortrait" class="portrait"></li>
        <li class="float-left"><img [src]="reaperPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="soldier76Portrait" class="portrait"></li>
        <li class="float-left"><img [src]="pharahPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="hanzoPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="bastionPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="torbjornPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="symmetraPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="junkratPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="widowmakerPortrait" class="portrait"></li>
      </ul>
    </div>

    <div id="tanks" class="main-grouping-right">
      <h4>Durable (Tanks)</h4>
      <ul>
        <li class="float-left"><img [src]="dvaPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="roadhogPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="reinhardtPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="winstonPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="orisaPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="zaryaPortrait" class="portrait"></li>
        <li class="float-left"><img [src]="meiPortrait" class="portrait"></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

  <div>Carry, Nuker, Initiator, Disabler, Durable, Escape, Support, Pusher, Jungler</div>
  <div>Complexity?</div>
</div>
