<h3>Heroes</h3>
<p>Welcome to the Overwatch hero role site</p>

Traditional 2-2-2 perceived meta:
<div class="main-container">
  <dps></dps>
  <div class="clear"></div>
  <tanks></tanks>
  <div class="clear"></div>
  <healers></healers>
  <div class="clear"></div>
  <div class="main-grouping-bottom">

  </div>
  <div class="clear"></div>

<ul class="hero-roles-buttons">
  <li class="role-list-item" (click)="setInitiator()">Initiator</li>
</ul>
  <div>Carry, Nuker, Initiator, Disabler, Durable, Escape, Support, Pusher, Jungler</div>
  <div>Complexity?</div>
</div>
