<h3>Home Component</h3>
<p>Welcome to the Overwatch hero role site</p>


Traditional 2-2-2 perceived meta:
<div class="main-container">
  <div id="healers" class="main-grouping-top">
    <h4>Healers</h4>
    <ul>
      <li>Mercy</li>
      <li>Zenyatta</li>
      <li>Lucio</li>
      <li>Ana</li>
      <li>Sombra</li>
    </ul>
  </div>
  <div class="main-grouping-bottom">
    <div id="dps" class="main-grouping-left">
      <h4>DPS</h4>
      <ul>
        <li>Genji</li>
        <li>McCree</li>
        <li>Reaper</li>
        <li>Solider 76</li>
        <li>Pharah</li>
        <li>Hanzo</li>
        <li>Bastion</li>
        <li>Torbjorn</li>
        <li>Symettra</li>
        <li>Junkrat</li>
        <li>Widowmaker</li>
      </ul>
    </div>

    <div id="tanks" class="main-grouping-right">
      <h4>Tanks</h4>
      <ul>
        <li>D. Va</li>
        <li>Roadhog</li>
        <li>Reinhardt</li>
        <li>Winston</li>
        <li>Orisa</li>
        <li>Zarya</li>
        <li>Mei</li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

  <div>Carry, Nuker, Initiator, Disabler, Durable, Escape, Support, Pusher, Jungler</div>
</div>
